/************************************************************
*************************Corps et contenu******************************
*************************************************************/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

html,body{
  height: 100%;
  margin: 0;
}

body{
  background: url("../img/test2.jpg");
  width: 100%;
  background-attachment: fixed;
}

.container{
  min-height:100%;
  background-color: #C82127;
  opacity:0.75;

}

img{
  margin-left: auto;
	margin-right: auto;
  margin-bottom: 5px;
}


/************************************************************
*************************Menu (navbar)******************************
*************************************************************/

header>.navbar-default {
  background-color:white;
  border-color: white;
  background-repeat: no-repeat;
}

.navbar-nav > li > a{
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  vertical-align: middle;
  margin-left: 35%;
  margin-right: 0%;
  font-size: 1.8em;
  line-height: 10rem;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.navbar-default .navbar-nav>li>a:hover{
  color:white;
  list-style: none;
  background-color: #C82127;
}

.navbar-default .navbar-nav>li>a:focus{
  color:#C82127;
  list-style: none;
  background-color:transparent;
}

.navbar-default .navbar-nav>li>a{
  list-style: none;
  color: #C82127;
}

/************************************************************
*************************Responsive (Media Queries)******************************
*************************************************************/

@media screen and (max-width: 768px) {
  .navbar-nav > li{
   padding-top:0%;
   border: none;
 }

 .navbar-nav > li > a{
   border-right:none;
   text-align: center;
   line-height: 2rem;
   position:relative;
   margin-left: 0%;
   font-size: 1em;
 }

 .separation{
   display: none;
 }

 img{margin-left: auto;margin-right: auto;}

 .three.columns{
   display:block;
 }
}

 @media screen and (max-width: 1214px){
  .navbar-nav > li{
   border: none;
   display: inline;
 }
 .navbar-nav > li > a{
   border-right:none;
   text-align: center;
   line-height: 2rem;
   margin-left: 0%;
   font-size: 118.5%;
 }

  img{margin-left: auto;margin-right: auto;}
}

/************************************************************
*************************Body******************************
*************************************************************/

/*******************SLIDER******************/

.rslides {
  position: relative;
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 50%;
  border: 0;
  }

/******************SLIDER FIN**************/

.slider{
  margin-left: auto;
  margin-right: auto;
}

/************************************************************
*************************Footer******************************
*************************************************************/

.footer{
  font-size: 1em;
  line-height: 2.1875em;
  text-transform: uppercase;
  margin-top: 50px;
}

section.bg-white{
  background: white;
  color: #C82127;
}

section.bg-whitelight {
    background: #EDEDED;
    color: white;
    text-align: center;
}

section{
  margin: 0;
  overflow: auto;
  padding: 1.5em 1em;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 1s ease-out 0.1s;
  -o-transition: opacity 1s ease-out 0.1s;
  -webkit-transition: opacity 1s ease-out;
  -webkit-transition-delay: 0.1s;
  transition: opacity 1s ease-out 0.1s;
}

.centered {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

.footer h3 {
    color: #F3971C;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.footer ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}


.footer a {
    color: #C82127;
    text-decoration: none;
    font-weight:bold;
}

.footer p{
  color:#F3971C;
}

.container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
