body{
  background: url("../img/background-kebab.jpg");
}

header>.navbar-default {
  background-color:white;
  border-color: white;
  background-repeat: no-repeat;
 }


.navbar-nav > li > a{
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  vertical-align: middle;
  margin-left: 35%;
  margin-right: 0%;
  font-size: 1.8em;
  line-height: 10rem;

}
/*
.livraisonItem:hover::before{
  content: url("../img/delivery3.png");
  padding-right:0px;
} */


.container{
  border: 1px solid #C82127;
  background-color: #C82127;
  border-radius: 5px;

}

.navbar-default .navbar-nav>li>a:hover{
  color:white;
  list-style: none;
  background-color: #C82127;
}

.navbar-default .navbar-nav>li>a{
  list-style: none;
  color: #C82127;
  transition:color 0.15s ease-in;
}



@media screen and (max-width: 640px) {
  .navbar-nav > li{
   padding-top:0%;
   border: none;
 }

 .navbar-nav > li > a{
   border-right:none;
   text-align: center;
   line-height: 2rem;
   position:relative;
   margin-left: 0%;
   font-size: 1em;

 }

 .separation{
   display: none;
 }

 img{margin-left: auto;margin-right: auto;}

}


@media screen and (max-width: 1214px){
  .navbar-nav > li{
   border: none;
   display: inline;
 }
 .navbar-nav > li > a{
   border-right:none;
   text-align: center;
   line-height: 2rem;
   margin-left: 0%;
   font-size: 118.5%;
 }

  img{margin-left: auto;margin-right: auto;}
}

@media screen and (max-width: 1214px) and (min-width: 768px){
  .navbar-nav > li{
   border: none;

 }
 .navbar-nav > li > a{
   border-right:none;
   text-align: center;
   line-height:13rem;
   margin-left: 0%;
   margin-right: auto;
   font-size: 140%;
   width: auto;
 }

.navbar-nav{
   border:1px solid black;
   margin-left: auto;
   margin-right: auto;
 }

  img{margin-left: auto;margin-right: auto;}
}
